<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>NewsBlog</title>
  <!-- Import stylesheet -->
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  
  <!--Theme color for browser tab-->
  <meta name="theme-color" content="#eb2a23">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Import jQuery, Bootstrap, Chart.js, and Popper.js-->
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
  {{{body}}}
</body>

</html>