<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>NewsBlog</title>
  <!-- Import stylesheet -->
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <!--Theme color for browser tab-->
  <meta name="theme-color" content="#eb2a23">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Import jQuery, Bootstrap, Chart.js, and Popper.js-->
  <script src="https://code.jquery.com/jquery.js"></script>


</head>

<body>
<div class="jumbotron">
  <div class="hero-unit-background-image">
    <h1 class="display-4">Today's News Blog</h1>
      <p class="lead">Welcome to a space where you can access the latest articles from the New York Times, share your views, and discover other perspectives.</p>
        <hr class="my-4">
      <p>This website demonstrates effective use of scraping via the 'Cheerio' npm package as well use of MongoDB.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">SCRAPE TODAY'S NEWS</a>
      </p> 
  </div>
</div>


  {{{body}}}
</body>

</html>